@import 'variables';
@import 'gui';

* {
	box-sizing: border-box;
}

#space {
	margin: 100px auto;
	width: 200px;
	height: 200px;
	position: fixed;
	top:30%;
	left:50%;
	transform: translate(-50%,-50%);

	perspective: 850px;
}

/* Cube */
.cube {
	position: absolute;
	height: 100%;
	width: 100%;
	transform-style: preserve-3d;
	transition: transform 0s;
}

.solid > .cube > div {
	position: absolute;
  background: radial-gradient(circle, #3a3a3a, #2f2f2f );
  border: 2px solid rgba(58, 58, 58, 0.4);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  backface-visibility: hidden;

  height: 100px;
  width: 100px;
  padding: 10px;
	transition: .1s;
}

.glass > .cube > div {
	position: absolute;
	background: rgba(212, 192, 192, 0.12);
	border: 2px solid rgba(255, 255, 255, 0.52);
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);

  height: 100px;
  width: 100px;
  padding: 10px;
	transition: .1s;
}

/* Stickers */
.cube > div > div {
	height: 100%;
	width: 100%;
	border-radius: 10px;
	z-index: 100;

	transition: .1s;
}

.glass > .cube > div > div {
	opacity: 0.9;
	border-radius: 50%;
}

.white { background: radial-gradient(circle, #d1d1d1, #fff ); }
.yellow { background: radial-gradient(circle, #efd038, #dab919 ); }
.blue { background: radial-gradient(circle, #318edd, #257ac2 ); }
.green { background: radial-gradient(circle, #72ae2b, #8ad137 ); }
.red { background: radial-gradient(circle, #a0270f, #ae4b1b); }
.orange { background: radial-gradient(circle, #d97d50, #d86a35 ); }


/* TOP */
#x1y1z1.cube {
	.top { transform: $cubeTop; }
	.front { transform: $cubeLeft; }
	.right { transform: $cubeFront; }
}

#x2y1z1.cube {
	.top {	transform: $cubeTop; }
	.front { transform: $cubeFront; }
	.right { transform: $cubeRight; }
}

#x1y1z2 {
	.top {	transform: $cubeTop; }
	.front { transform: $cubeLeft; }
	.right { transform: $cubeFront; }
}

#x2y1z2.cube {
	.top {	transform: $cubeTop;}
	.front { transform: $cubeFront;}
	.right { transform: $cubeRight;}
}

/* BOTTOM */
#x1y2z1.cube {
	.top { transform: $cubeBottom; }
	.front { transform: $cubeLeft; }
	.right { transform: $cubeFront; }
}

#x2y2z1.cube {
	.top {	transform: $cubeBottom; }
	.front { transform: $cubeFront; }
	.right { transform: $cubeRight; }
}

#x1y2z2 {
	.top {	transform: $cubeBottom; }
	.front { transform: $cubeLeft; }
	.right { transform: $cubeFront; }
}

#x2y2z2.cube {
	.top {	transform: $cubeBottom;}
	.front { transform: $cubeFront;}
	.right { transform: $cubeRight;}
}

/* Front */
#x1y1z1 {
	transform-origin: 50% 50% -50px;
	transform: $translate11 $front;}

#x1y2z1 {
	transform-origin: 50% 0% -50px;
	transform: $translate12 $front;}

#x2y1z1 {
	transform-origin: 0% 50% -50px;
	transform: $translate21 $front;}

#x2y2z1 {
	transform-origin: 0% 0% -50px;
	transform: $translate22 $front;}

/* Back */
#x1y1z2 {
	transform-origin: 50% 50% -50px;
	transform: $translate11 $back;}

#x1y2z2 {
	transform-origin: 50% 0% -50px;
	transform: $translate12 $back;}

#x2y1z2 {
	transform-origin: 0% 50% -50px;
	transform: $translate21 $back;}

#x2y2z2 {
	transform-origin: 0% 0% -50px;
	transform: $translate22 $back;}

.y #space:hover {
	#x1y1z1 { transform: $translate11 rotateX( $frontX ) rotateY( rotate( $frontY , 135deg )); }
 	#x1y2z1 { transform: $translate12 rotateX( $frontX ) rotateY( rotate( $frontY , 135deg )); }
	#x2y1z1 { transform: $translate21 rotateX( $frontX ) rotateY( rotate( $frontY , 135deg )); }
	#x2y2z1 { transform: $translate22 rotateX( $frontX ) rotateY( rotate( $frontY , 135deg )); }
	#x1y1z2 { transform: $translate11 rotateX( $backX ) rotateY( rotate( $backY, 135deg )); }
 	#x1y2z2 { transform: $translate12 rotateX( $backX ) rotateY( rotate( $backY, 135deg )); }
	#x2y1z2 { transform: $translate21 rotateX( $backX ) rotateY( rotate( $backY, 135deg )); }
	#x2y2z2 { transform: $translate22 rotateX( $backX ) rotateY( rotate( $backY, 135deg )); }
}

.z #space:hover {
	#x1y1z1 {	transform: $translate11 $front rotateZ( -135deg ); }
	#x1y2z1 { transform: $translate12 $front rotateZ( -135deg ); }
	#x2y1z1 { transform: $translate21 $front rotateZ( -135deg ); }
	#x2y2z1 { transform: $translate22 $front rotateZ( -135deg ); }
	#x1y1z2 {	transform: $translate11 $back rotateZ( 135deg ); }
	#x1y2z2 {	transform: $translate12 $back rotateZ( 135deg ); }
	#x2y1z2 {	transform: $translate21 $back rotateZ( 135deg ); }
	#x2y2z2 {	transform: $translate22 $back rotateZ( 135deg ); }
}

.y #space, .y #space:hover, .z #space, .z #space:hover {
	#x1y1z1, #x1y2z1, #x2y1z1, #x2y2z1, #x1y1z2, #x1y2z2, #x2y1z2, #x2y2z2 { transition: $lookduration; }
}

/* YTOP */
.ytop {
	#x1y1z1 {	transform: $translate11 rotateX( $frontX ) rotateY( rotate( $frontY , -90deg )); }
 	#x2y1z1 {	transform: $translate21 rotateX( $frontX ) rotateY( rotate( $frontY , -90deg )); }
 	#x1y1z2 {	transform: $translate11 rotateX( $backX ) rotateY( rotate( $backY, -90deg )); }
 	#x2y1z2 {	transform: $translate21 rotateX( $backX ) rotateY( rotate( $backY, -90deg )); }
}

/* REVYTOP */
.revytop {
	#x1y1z1 {	transform: $translate11 rotateX( $frontX ) rotateY( rotate( $frontY , 90deg )); }
 	#x2y1z1 {	transform: $translate21 rotateX( $frontX ) rotateY( rotate( $frontY , 90deg )); }
 	#x1y1z2 {	transform: $translate11 rotateX( $backX ) rotateY( rotate( $backY, 90deg )); }
 	#x2y1z2 { transform: $translate21 rotateX( $backX ) rotateY( rotate( $backY, 90deg )); }
}

/* YBOTTOM */
.ybottom {
	#x1y2z1 {	transform: $translate12 rotateX( $frontX ) rotateY( rotate( $frontY , -90deg )); }
	#x2y2z1 {	transform: $translate22 rotateX( $frontX ) rotateY( rotate( $frontY , -90deg )); }
	#x1y2z2 {	transform: $translate12 rotateX( $backX ) rotateY( rotate( $backY, -90deg )); }
	#x2y2z2 {	transform: $translate22 rotateX( $backX ) rotateY( rotate( $backY, -90deg )); }
}

/* REVYBOTTOM */
.revybottom {
	#x1y2z1 {	transform: $translate12 rotateX( $frontX ) rotateY( rotate( $frontY , 90deg )); }
	#x2y2z1 {	transform: $translate22 rotateX( $frontX ) rotateY( rotate( $frontY , 90deg )); }
	#x1y2z2 {	transform: $translate12 rotateX( $backX ) rotateY( rotate( $backY, 90deg )); }
	#x2y2z2 {	transform: $translate22 rotateX( $backX ) rotateY( rotate( $backY, 90deg )); }
}

/* ZFRONT */
.zfront {
	#x1y1z1 {	transform: $translate11 $front rotateZ( -90deg ); }
	#x1y2z1 {	transform: $translate12 $front rotateZ( -90deg ); }
	#x2y1z1 {	transform: $translate21 $front rotateZ( -90deg ); }
	#x2y2z1 {	transform: $translate22 $front rotateZ( -90deg ); }
}

/* REVZFRONT */
.revzfront {
	#x1y1z1 {	transform: $translate11 $front rotateZ( 90deg ); }
	#x1y2z1 {	transform: $translate12 $front rotateZ( 90deg ); }
	#x2y1z1 {	transform: $translate21 $front rotateZ( 90deg ); }
	#x2y2z1 {	transform: $translate22 $front rotateZ( 90deg ); }
}

/* ZBACK */
.zback {
	#x1y1z2 {	transform: $translate11 $back rotateZ( 90deg ); }
	#x1y2z2 {	transform: $translate12 $back rotateZ( 90deg ); }
	#x2y1z2 {	transform: $translate21 $back rotateZ( 90deg ); }
	#x2y2z2 {	transform: $translate22 $back rotateZ( 90deg ); }
}

/* REVZBACK */
.revzback {
	#x1y1z2 {	transform: $translate11 $back rotateZ( -90deg ); }
	#x1y2z2 {	transform: $translate12 $back rotateZ( -90deg ); }
	#x2y1z2 {	transform: $translate21 $back rotateZ( -90deg ); }
	#x2y2z2 {	transform: $translate22 $back rotateZ( -90deg ); }
}

.ytop #space, .revytop #space, .ybottom #space, .revybottom #space,
.zfront #space, .revzfront #space, .zback #space, .revzback #space {
	#x1y1z1, #x1y2z1, #x2y1z1, #x2y2z1, #x1y1z2, #x1y2z2, #x2y1z2, #x2y2z2 { transition: $moveduration; }
}
