/* rotation duration */
$moveduration: transform .16s;
$lookduration: transform 1.5s;

/* Cubes positions */
$translate11: translateX(0) translateY(0);
$translate12: translateX(0) translateY(100px);
$translate21: translateX(100px) translateY(0);
$translate22: translateX(100px) translateY(100px);

/* Default rotation */
$frontX: -15deg;
$frontY: -45deg;
$backX: -15deg;
$backY: 135deg;

$front: rotateX( $frontX ) rotateY( $frontY );
$back: rotateX( $backX ) rotateY( $backY );

/* Default sides */
$cubeFront: rotateY( 0deg ) translateZ( 50px );
$cubeBack: rotateX(  180deg ) translateZ( 50px );
$cubeRight: rotateY(  90deg ) translateZ( 50px );
$cubeLeft: rotateY(  -90deg ) translateZ( 50px );
$cubeTop: rotateX(  90deg ) translateZ( 50px );
$cubeBottom: rotateX(  -90deg ) translateZ( 50px );

@function rotate($base, $rotation){
  @return $base + $rotation
};
